<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro
        name="panto_r2c_hardware"
        params="name initial_positions_file use_sim:=^|false use_fake_hardware:=^|true" >

        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware>

        <!-- Actual joints (i.e., motors) -->
        <joint name="panto_left_joint">
            <command_interface name=${command_interface} />
            <state_interface name="force">
                <param name="initial_value">0.0</param>
                <param name="min">-100</param>
                <param name="max">100</param>
            </state_interface>
            <state_interface name="position">
                <param name="initial_value">0.7498</param>
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </state_interface>
            <state_interface name="velocity">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>

        <joint name="panto_right_joint">
            <command_interface name=${command_interface} />
            <state_interface name="force">
                <param name="initial_value">0.0</param>
                <param name="min">-100</param>
                <param name="max">100</param>
            </state_interface>
            <state_interface name="position">
                <param name="initial_value">0.7498</param>
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </state_interface>
            <state_interface name="velocity">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>

        <!-- Mock joints used for visualization -->

    </ros2_control>
</xacro:macro>
</robot>