controller_manager:
  ros__parameters:
    update_rate: 1000  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    haptic_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    pantograph_mimick_controller:
      type: pantograph_mimick_controller/PantographMimickController

    pantograph_mock_motors_controller:
      type: pantograph_mimick_controller/PantographMockMotorsController

    pantograph_mock_operator_controller:
      type: pantograph_mimick_controller/PantographMockOperatorController

    forward_effort_controller:
      type: effort_controllers/JointGroupEffortController

    fake_tau_ext_controller:
      type: effort_controllers/JointGroupEffortController

    tool_orientation_controller:
      type: position_controllers/JointGroupPositionController
    panto_position_controller:
      type: position_controllers/JointGroupPositionController


haptic_trajectory_controller:
  ros__parameters:
    command_interfaces:
      - effort
    state_interfaces:
      - effort
      - position
    joints:
      - panto_a1
      - panto_a2
      - panto_a3
      - panto_a4
      - panto_a5

forward_effort_controller:
  ros__parameters:
    joints:
      - panto_a1
      - panto_a5

fake_tau_ext_controller:
  ros__parameters:
    joints:
      - fake_tau_ext_1
      - fake_tau_ext_5

tool_orientation_controller:
  ros__parameters:
    joints:
      - tool_theta_joint
      - tool_phi_joint

panto_position_controller:
  ros__parameters:
    joints:
      - panto_a1
      - panto_a5
